*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1440px;
    height: 1024px;

    background: url(IMG/car-3075497_1280\ 1.jpg)  rgba(185, 28, 190, 0.5);
    /* background-color:  rgba(185, 28, 190, 0.5) ; */
    border-radius: 30px;
    display: flex;
}

ul{
    list-style-type: none;
    text-align: center;
}

.menu{
    width: 303px;
    background-color: rgba(128,128,128,0.5);
    color:aliceblue;
    justify-content: space-between;
    font-style: "Oswald", "Montserrat";
    font-size: 14px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#logo{
    width: 108px;
    height: 35px;
    padding-top: 56px;
    /* text-align: right; */
    align-items: center;
    margin-left:70px;
}

#home{
    color:#A276FF;
}

#home:hover{
    color:yellow;
}

#copyright{
    margin-top: 35px;
    text-align: left;
    margin-left: 60px;
    opacity: 0.5;

}

li{
    padding: 30px;
}
li:hover{
    color: yellow;
}

.menu-botton{
    margin-top: 200px;
}

.top-panel{
    width: 155px;
    height: 58px;
    margin-left: 850px;
    background-color: #A276FF;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.top-panel:hover{
    background-color: yellow;
}



#bird{
    padding: 23px 55px 0 29px;
    width: 19px;
}

#facebook{
    width: 19px;
}

.photos{
    width: 1100px;
    margin: 70px 0 70px 93px;
    
}

.photo{
    /* width: 172px; */
    height: 123px;
    margin-right: 30px;
}

h1{
    margin: 100px 0 0 100px;
    color: white;
    font-weight: 700;
    font-style: "Montserrat", "Oswald";
    font-size: 50px;
}

b{
    color:#A276FF;
    font-size: 60px;
}

b:hover{
    color: yellow;
}

.text-container{
    
    width: 800px;
    margin: 10px 0 60px 100px;
    font-size: 25px;
    font-style: "Oswald", "Montserrat";
    color: white;
}

#button{
    text-decoration: none;
    border: 3px solid white;
    width: 500px;
    height: 64px;
    margin: 120px 0 20px 100px;
    padding:20px 60px 20px 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    color:white;
    /* border-color: white; */
}

#button:hover{
    border-color: yellow;
}

.news{
    display: flex;
    margin: 0 0 10px 100px;
    font-size: 42px;
    font-weight: 700;
    color: white; 
}

#photo2:hover{
background: url(IMG/4.png);
}

#triangle{
    padding: 12px;
    height: 28px;
}

.text-container-2{
    margin: 0 0 0 100px;
    /* border: 2px solid black; */
    font-size: 16px;
    color:white;
}

/* 
.photo{
    margin-left: 50px;
    text-align: right;
    width: 172px;
} */
