*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../IMG/car-1.png) rgb(5, 7, 41);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.wrapper{
    width: 1440px;
    height: 1024px;
    border-radius: 30px;
    display: flex;
    margin: auto auto;
}

ul{
    list-style-type: none;
    text-align: center;
}

.menu{
    width: 303px;
    background-color: #0b0b0d;
    box-sizing: border-box;
    opacity: 0.5;
    color:aliceblue;
    justify-content: space-between;
    font-family: "Oswald", "Montserrat";
    font-size: 14px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#logo{
    width: 108px;
    height: 35px;
    padding-top: 56px;
    /* text-align: right; */
    align-items: center;
    margin-left:70px;
}

#home{
    color:#A276FF;
    border-left: 3px solid #A276FF;
}

#home:hover{
    color:yellow;
    border-left: 3px solid yellow;
}

#copyright{
    margin-top: 55px;
    text-align: left;
    margin-left: 60px;
    opacity: 0.5;

}

li, a{
    margin-top: 50px;
    text-decoration: none;
    }

li:hover, a:hover{
    color: yellow;    
}

.menu-botton{
    margin-top: 270px;
}

.top-panel{
    width: 155px;
    height: 58px;
    margin-left: 850px;
    background-color: #A276FF;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.top-panel:hover{
    background-color: yellow;
}



#bird{
    padding: 23px 55px 0 29px;
    width: 19px;
}

#facebook{
    width: 19px;
}

.photos{
    width: 1100px;
    margin: 70px 0 70px 93px;
    
}

.photo{
    /* width: 172px; */
    height: 123px;
    margin-right: 30px;
}

h1{
    margin: 100px 0 0 100px;
    color: white;
    font-weight: 700;
    font-family: "Montserrat", "Oswald";
    font-size: 50px;
}

b{
    color:#A276FF;
    font-size: 60px;
}

b:hover{
    color: yellow;
}

.text-container{    
    width: 800px;
    margin: 10px 0 60px 100px;
    font-size: 25px;
    font-family: "Oswald", "Montserrat";
    color: white;
}

.button{
    text-decoration: none;
    border: 3px solid #FFFFFF;
    width: 500px;
    height: 64px;
    margin: 120px 0 20px 100px;
    padding:20px 100px 20px 100px;
    border-radius: 25px;
    font-family: Oswald;
    font-size: 16px;
    font-weight: 700;
    line-height: 79px;
    align-self: center;
    color:white; 
    animation-name: jumping;
    animation-duration: 2s;
    animation-iteration-count: 1; 
}
@keyframes jumping{
    0%{
        width: 500px;
        height: 64px;  
        background-color: none;
        border: 3px solid #FFFFFF; 
    }
    65%{
        width: 700px;
        height: 64px;
        /* background-color: rgb(8, 12, 73); */
        border: 3px solid #fa2ae9f6;
    }
    100%{
        background-color: none;
        border: 3px solid #FFFFFF;
    }
}

#button:hover{
    border-color: yellow;
}

.news{
    display: flex;
    margin: 0 0 10px 100px;
    font-size: 42px;
    font-weight: 700;
    color: white; 
    font-family: Oswald;

}

#photo2:hover{
background: url(IMG/4.png);
}

#triangle{
    padding: 20px 0 0 10px;
    height: 28px;
}

.text-container-2{
    margin: 0 0 0 100px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    color:white;
    line-height: 21px;
}

/* 
.photo{
    margin-left: 50px;
    text-align: right;
    width: 172px;
} */

.article{
    width: 900px;
    height: 1000px;
    background-color: #FFFFFF;
    margin: 100px 0 0 100px;
    border-radius: 41px;
    display: flex;
}

.text{
    width: 465px;
    padding: 80px 80px 0 80px;
    font-family: Oswald;
}

.night_sky{
width: 400px;

}

#photo_night_sky{
    padding-top: 80px;
    width: 300px;
    height: auto;
}

h2{
    font-size: 35px;
    padding-bottom: 5px;
}

hr{
    width: 50px;
    border: 4px solid rgb(202, 60, 202);
    animation-name: line;
    animation-duration: 3s;
    animation-iteration-count: 1;
    }
    @keyframes line {
        0%{
            width: 60px;
            border: 4px solid #180541;
        }
        30%{
            width: 200px;
            border: 4px solid #180541;
        }
        100%{
            width: 50px;
            border: 4px solid rgb(202, 60, 202); 
        }
    }

.topic_text{
    font-family: Roboto;
    font-weight: 700;
    padding-top: 20px;
    line-height: 1.5;
}

.text_1{
    padding-bottom: 10px;
}

.text_1, .text_2{
    font-family: Roboto;
    font-weight: 500;
    padding-top: 10px;
    line-height: 1.5;
}

h5{
    font-family: Oswald;
    font-weight: 700;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 16px;
}

.photo_text{
    font-family: Montserrat;
    font-size: 11px;
    padding-left: 40px;
}


